@CHARSET "UTF-8";
*{
	margin:0;
	padding:0;
}
body,html{
	width:100%;
	height:100%;
}
header{
	width:100%;
	height:10%;
	background:blue;
	color:white;
	text-align:center;
	font-size:1.8em;
	line-height:70px;
}
nav{
	width:100%;
	height:5%;
	background:#9986EE;
}
nav ul{
	list-style-type:none;
	padding:0 0 0 20px;
}
nav li{
	float:left;
	display:inline;
	padding:0 20px 0 20px;
}
nav a{
	text-decoration:none;
	color:white;
	font-weight:bold;
	line-height:38px;
}
nav a:hover{
	color:#941494;
	font-size:2.0em;
}
section{
	width:100%;
	height:78%;
	background:#d2d2d2;
}
section h1{
	text-align:center;
	padding: 15px 0;
}
section h4{
	padding:0 0 0 10px;
}
section ol{
	padding:0 0 0 25px;
}
footer{
	width:100%;
	height:7%;
	background:#288cff;
	color:white;
	text-align:center;
	line-height:50px;
}
#tab1{
	margin:0 auto;
	width:38%;
}
#tab2{
	margin:0 auto;
	width:60%;
	text-align:center;
}
#th1{
	width:40%;
}
#td1{
	color:white;
}
#td2{
	text-align:center;
}
#btn1{
	width:10%;
}
#a1{
	text-decoration:none;
	color:white;
}